{% extends "main/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

        {% if applications %}
        <h3>View Applications</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Interviewee Email</th>
                    <th>Deadline</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Job Name</th>
                    <th>ETC(Minute)</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                    <tr>
                        <td>{{ application.interviewee_email }}</td>
                        <td>{{ application.deadline |date:"DATE_FORMAT" }}</td>
                        <td>{{ application.start_time |date:"DATE_FORMAT" }}</td>
                        <td>{{ application.end_time |date:"DATE_FORMAT" }}</td>
                        <td>{{ application.job.name }}</td>
                        <td>{{ application.estimated_time_m }}</td>
                        <td>{{ application.get_status_display  }}</td>
                           <td>
                            <a href="{% url 'main:view_application_questions' application.id%}?interviewee_email={{ application.interviewee_email }}"
                               class="btn btn-danger">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
         <h3>No Application Found</h3>
    {% endif %}

{% endblock %}