{% extends "main/base.html" %}

{% block title %}Create New Question{% endblock %}

{% block content %}

    {% include "main/form_error.html" %}

    <form method="post" action="{% url 'main:create_question' %}">

        {% csrf_token %}

        <h3>Create Question</h3>

        <input type="hidden" name="company" value="{{ user.profile.company.id }}">

        <div class="form-group input-container">

            <input type="input" name="name" class="form-control" placeholder="Question Name">

        </div><!-- /.input-container -->

        <div class="form-group input-container">

            <input type="input" name="description" class="form-control" placeholder="Question Description">

        </div><!-- /.input-container -->

        <div class="form-group input-container">

            <label for="comment">Default Template:</label>

            <textarea class="form-control" name="default_template" rows="10" id="comment">// Write your code1 here</textarea>

        </div><!-- /.input-container -->

        <div class="form-group input-container">

            <label>Estimated Time (Minute):</label><br>

            <input type="number" name="estimated_time_m"  min="0" class="form-control">

        </div><!-- /.input-container -->


        <input type="submit" class="btn btn-primary" value="Create">

    </form>

{% endblock %}