{% extends "main/base.html" %}

{% block title %}Create New Job{% endblock %}

{% block content %}

    {% include "main/includes/form_error.html" %}

    <form method="post" data-toggle="validator" role="form" action="{% url 'main:create_job' %}">

        {% csrf_token %}

        <h3>Create Job</h3>

        <input type="hidden" name="company" value="{{ user.profile.company.id }}">

        <div class="form-group">
            <label for="job_name" class="control-label">Job Name</label>
            <input id="job_name" type="input" name="name" class="form-control" placeholder="Java Developer" required>
            <div class="help-block with-errors"></div>
        </div><!-- /.input-container -->

        <div class="form-group input-container">
            <label for="job_description" class="control-label">Job Description</label>
            <textarea id="job_description" class="form-control" name="description" rows="12"></textarea>
            <div class="help-block with-errors"></div>
        </div><!-- /.input-container -->

        <div class="form-group input-container">

            {% if questions %}

                <label>Select Questions:</label>

                <select id="jobSelect" class="form-control">

                    <option selected disabled>Select Questions</option>

                    {% for question in questions %}

                        <option value="{{ question.id }}">{{ question.name }}</option>

                    {% endfor %}

                </select>

            {% endif %}

        </div><!-- /.input-container -->

        <div class="form-group input-container">

            <label>Selected Questions:</label>

            <div id="selectedQuestionDiv"></div>

        </div><!-- /.input-container -->

        <input type="submit" class="btn btn-primary" value="Create">

    </form>

    {% load static %}
    <script src='{% static "main/js/create_job.js" %}' type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href='{% static "main/css/create_job.css" %}' type="text/css" />
{% endblock %}