{% extends "main/base.html" %}

{% block title %}Create New Question{% endblock %}

{% block content %}

    {% include "main/includes/form_error.html" %}

    <form method="post" data-toggle="validator" role="form" action="{% url 'main:create_question' %}">

        {% csrf_token %}

        <h3>Create Question</h3>

        <input type="hidden" name="company" value="{{ user.profile.company.id }}">

        <div class="form-group">
            <label for="question_name" class="control-label">Question Name</label>
            <input id="question_name" type="input" name="name" class="form-control" placeholder="Order ArrayList" required>
            <div class="help-block with-errors"></div>
        </div><!-- /.input-container -->

         <div class="form-group input-container">
            <label for="job_description" class="control-label">Question Description</label>
            <textarea id="job_description" class="form-control" name="description" rows="12" required></textarea>
            <div class="help-block with-errors"></div>
        </div><!-- /.input-container -->

        <div class="form-group input-container">

            <label for="comment">Default Template:</label>
            <textarea class="form-control" name="default_template" rows="10" id="comment">// Write your template here</textarea>

        </div><!-- /.input-container -->

          <div class="form-group input-container">
            <label for="estimated_time" class="control-label">Estimated Time (Minute):</label>
            <input id="estimated_time" type="number" name="estimated_time_m"  min="0" step="1" class="form-control">
            <div class="help-block with-errors"></div>
        </div><!-- /.input-container -->


        <input type="submit" class="btn btn-primary" value="Create">

    </form>

{% endblock %}