{% extends "main/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3>My Applications</h3>
    </div>
    {% if applications %}
        <div class="list-group">
            {% for application in applications %}
                <a href="{% url 'main:view_application_questions' application_question_id=application.id %}?interviewee_email={{ application.interviewee_email }}"
                 class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between row">
                      <h5 class="col-md-6">{{ application.job.name }}</h5>
                      <small class="text-muted col-md-6 text-right">{{ application.estimated_time_m }} minutes</small>
                  </div>
                  <p class="mb-1">{{ application.job.description }}</p>
                  <small class="text-muted">Expected finished before {{ application.deadline|date:"DATE_FORMAT" }}</small>
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}