{% extends "main/base.html" %}

{% block title %}View Jobs{% endblock %}

{% block content %}

    {% include "main/alerts.html" %}

    <h3 class="panel-title">View Jobs</h3>
    {% if jobs %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Updated</th>
                    <th>Question</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>{{ job.name }}</td>
                        <td>{{ job.description }}</td>
                        <td>{{ job.updated|date:"DATE_FORMAT" }}</td>
                        <td>
                            {% for question in job.get_questions %}
                                <a href="{% url 'main:edit_question'%}?id={{ question.id }}">{{ question.name }}</a><br>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url 'main:edit_job'%}?id={{ job.id }}" class="btn btn-info">Edit</a>
                            <a href="{% url 'main:delete_job'%}?id={{ job.id }}" class="btn btn-danger">Delete</a>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#email_job_modal">Email</button>
                            <input name="job_id" type="hidden" value="{{ job.id }}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include "main/includes/pagination_div.html" with pagination_list=jobs only %}

    <div class="panel">
        <div class="panel-body">
            <a href="{% url 'main:create_job' %}" type="button" class="btn btn-primary">Create Job</a>
        </div>
    </div>

    {% include "main/accounts/email_job_modal.html" %}

    {% load static %}
    <script src='{% static "main/js/email_job_modal.js" %}' type="text/javascript" charset="utf-8"></script>

{% endblock %}