{% extends "main/base.html" %}

{% block title %}View Jobs{% endblock %}

{% block content %}

    {% if jobs %}
        <h3>View Jobs</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Updated</th>
                    <th>Question</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>{{ job.name }}</td>
                        <td>{{ job.description }}</td>
                        <td>{{ job.updated|date:"DATE_FORMAT" }}</td>
                        <td>
                            {% for question in job.get_questions %}
                                <a href="">{{ question.name }}</a><br>
                            {% endfor %}
                        </td>
                        <td>
                            <button class="btn btn-info">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
         <h3>Not Job Found</h3>
    {% endif %}

     <a href="{% url 'main:create_job' %}" type="button" class="btn btn-primary">Create Job</a>

{% endblock %}