{% extends "main/base.html" %}

{% block title %}View Questions{% endblock %}

{% block content %}

      {% if questions %}
        <h3>View Questions</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>ETC(Minute)</th>
                    <th>Updated</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.name }}</td>
                        <td>{{ question.description }}</td>
                         <td>{{ question.estimated_time_m }}</td>
                        <td>{{ question.updated|date:"DATE_FORMAT" }}</td>
                        <td>
                            <a href="{% url 'main:edit_question'%}?id={{ question.id }}" class="btn btn-info">Edit</a>
                            <a href="{% url 'main:delete_question'%}?id={{ question.id }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
         <h3>No Question Found</h3>
    {% endif %}

     <a href="{% url 'main:create_question' %}" type="button" class="btn btn-primary">Create Question</a>

{% endblock %}