{% extends "main/base.html" %}

{% block title %}Application Questions{% endblock %}

{% block content %}

{% include "main/includes/form_error.html" %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
             <h3 class="panel-title">{{ user.username }}</h3>
        </div>
        <div class="panel-body">
            <form id="profile_form" method="POST" action="{% url 'main:update_profile' %}">
                {% csrf_token %}

                {% load widget_tweaks %}

                <div class="form-group input-container input-group">
                     <span class="input-group-addon">First Name</span>
                    {% render_field form.first_name class="form-control" placeholder="First Name" value=user.first_name %}
                </div>

                <div class="form-group input-container input-group">
                    <span class="input-group-addon">Last Name</span>
                    {% render_field form.last_name class="form-control" placeholder="Last Name" value=user.last_name%}
                </div>

                <div class="form-group input-container input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i>Email</span>
                    {% render_field form.email class="form-control" placeholder="Email address" value=user.email%}
                </div>

                <div class="form-group input-container input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    {% render_field form.password class="form-control" placeholder="New Password" %}
                </div>

                <div class="form-group input-container input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    {% render_field form.password2 class="form-control" placeholder="Password Confirmation" %}
                </div>
                {% render_field form.username value=user.username %}

                <input type="submit" class="btn btn-primary" value="Update">

            </form>
        </div>
    </div>
</div>

{% load static %}
<script src='{% static "main/js/view_profile.js" %}' type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" >
</script>

{% endblock %}
