{% extends "main/base.html" %}

{% block title %}View Jobs{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h3>Jobs
            <a href="{% url 'main:create_job' %}"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
        </h3>
    </div>

    {% include "main/includes/alerts.html" %}

    {% if jobs %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <!--<th>Description</th>-->
                    <th>Updated</th>
                    <th>Question</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>{{ job.name }}</td>
                        <!--<td>{{ job.description }}</td>-->
                        <td>{{ job.updated|date:"Y-m-d H:i" }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Questions
                                    <span class="fa fa-caret-down" title="All related questions"></span>
                                </a>
                                <ul class="dropdown-menu">
                                     {% for question in job.get_questions %}
                                        <li>
                                        <a href="{% url 'main:edit_question'%}?id={{ question.id }}">
                                            {{ question.name }}
                                        </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'main:edit_job'%}?id={{ job.id }}" >
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a href="{% url 'main:delete_job'%}?id={{ job.id }}">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                            <a href="#" data-toggle="modal" data-target="#email_job_modal">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </a>
                            <input name="job_id" type="hidden" value="{{ job.id }}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <!--
        <div class="list-group">
            {% for job in jobs %}
                <a href="{% url 'main:edit_job'%}?id={{ job.id }}"
                 class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between row">
                        <h5 class="col-md-6">{{ job.name }} - {{ job.updated|date:"DATE_FORMAT" }}</h5>

                        <small class="text-muted col-md-6 text-right">

                        </small>

                    </div>
                    <p class="mb-1">{{ job.description }}</p>


                </a>
                <small class="text-muted"><a href="{% url 'main:delete_job'%}?id={{ job.id }}">delete</a></small>
                <small class="text-muted"><a href="#" data-toggle="modal" data-target="#email_job_modal">email</a></small>
                <input name="job_id" type="hidden" value="{{ job.id }}">
            {% endfor %}
        </div>
        -->
    {% endif %}

    {% include "main/includes/pagination_div.html" with pagination_list=jobs page_range=page_range %}

    {% include "main/includes/email_job_modal.html" %}

    {% load static %}
    <script src='{% static "main/js/email_job_modal.js" %}' type="text/javascript" charset="utf-8"></script>
</div>
{% endblock %}