
{% if success_message %}
    <div class="alert alert-success">
      <strong>Success!</strong> {{ success_message }}
    </div>
{% endif %}

{% if info_message %}
    <div class="alert alert-info">
      <strong>Info!</strong> {{ info_message }}
    </div>
{% endif %}

{% if warning_message %}
    <div class="alert alert-warning">
      <strong>Warning!</strong> {{ warning_message }}
    </div>
{% endif %}

{% if danger_message %}
    <div class="alert alert-danger">
      <strong>Danger!</strong> {{ danger_message }}
    </div>
{% endif %}