<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href='{% static "main/css/main.css" %}' type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{% block title %}FX-Interview{% endblock %}</title>
</head>

<body>
    {% block sidebar %}
    <nav class="navbar navbar-default" id="topNav">

    <div class="container">

        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">123</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

                <!--<div class="navbar-left">-->
                    <!--<img src= '{% static "main/images/" %}' alt="FXInterview.ie logo" />-->
                <!--</div>-->

                <a class="navbar-brand" href="">FXInterview</a>

            </div><!-- /.navbar-header -->

            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">

                    {% if user.is_authenticated %}

                        <li>
                            <a href="{% url 'main:view_home' %}">Home</a>
                        </li>

                        <li>
                            <a href="{% url 'main:view_home' %}">Questions</a>
                        </li>

                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                               {{ user.get_username }} <i class="fa fa-caret-down "></i>
                            </a>

                            <ul class="dropdown-menu">

                                <li>
                                    <a href="#">Profile</a>
                                </li>

                                <li>
                                    <a href="{% url 'main:logout' %}">Logout</a>
                                </li>

                            </ul>

                        </li><!-- .dropdown -->

                    {% else %}

                        <li>
                            <a href="{% url 'main:index' %}">Home</a>
                        </li>

                        <li>
                            <a href="{% url 'main:login' %}">Login</a>
                        </li>

                    {% endif %}

                    </ul>

                </div><!--/.nav-collapse -->

            </div><!--/.container-fluid -->

        </div><!-- /.container -->

    </nav>
    {% endblock %}

    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>