{% extends "./base.html" %}

{% block title %}FX-Interview{% endblock %}

{% block content %}

{% include "main/form_error.html" %}

<div class="row-fluid">
    <div class="col-xs-8 fx-div-left">
        <h3>Welcome to FX Interview</h3>

    </div>

    <div class="col-xs-4 fx-div-right">
        <form method="POST" action="{% url 'main:register' %}">
            {% csrf_token %}

            <h4>New Account</h4>

            {% load widget_tweaks %}

            <div class="form-group input-container">
                {% render_field form.username class="form-control" placeholder="Username" %}
            </div>

            <div class="form-group input-container">
                {% render_field form.password1 class="form-control" placeholder="Password" %}
            </div>

            <div class="form-group input-container">
                {% render_field form.password2 class="form-control" placeholder="Password Confirmation" %}
            </div>

            {% render_field form.role %}

            <input type="submit" class="btn btn-primary" value="Sign Up">

        </form>
    </div>
</div>
{% endblock %}