{% extends "../main/base.html" %}

{% block title %}Application Questions{% endblock %}

{% block content %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
             <h3 class="panel-title">Question</h3>
        </div>
        <div class="panel-body">
            Question body
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
             <h3 class="panel-title">Your Result</h3>
        </div>
        <div class="panel-body">
            <div id="editor">// Writing your code here</div>
        </div>
    </div>
    <div class="text-center">---End of editor---</div>
</div>

{% load static %}
<script src='{% static "main/ace-builds-master/src-noconflict/ace.js" %}' type="text/javascript" charset="utf-8"></script>
<script src='{% static "main/js/view_application_questions.js" %}' type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href='{% static "main/css/view_application_questions.css" %}' type="text/css" />

{% endblock %}
