{% extends "main/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Application Questions' %}{% endblock %}

{% block content %}

<div class="page-header">
    <h3>{{ application_question.job.company.name }} - {{ application_question.job.name }}</h3>
</div>

<form id="start_application_question_form" method="POST" action="{% url 'job_applications:start_answer' %}">
    {% csrf_token %}
    <input name="interviewee_email" type="hidden" value="{{ interviewee_email }}">
    <input name="application_question_id" type="hidden" value="{{ application_question.id }}">

    <div class="panel panel-default">
        <div class="panel-heading">
             <h3 class="panel-title">{% trans 'Welcome to interview' %}</h3>
        </div>

        <div class="panel-body">
            {% trans 'Once you ready, please click start button.' %}
        </div>
    </div>
    <div class="btn-group btn-group-justified">
        <div class="btn-group"><button type="submit" class="btn btn-primary" name="start_action">{% trans 'Start' %}</button></div>
    </div>
</form>

{% endblock %}
