{% extends "main/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password Change' %}{% endblock %}

{% block content %}
<h3>{% trans 'Password change' %}</h3>
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">
    {% csrf_token %}
    <fieldset class="module aligned wide">
        <div class="form-row">
            <label for="id_old_password">{% trans 'Old password:' %} </label>
            <input type="password" name="old_password" autofocus required id="id_old_password" />
        </div>
        <div class="form-row">
            <label for="id_new_password1">{% trans 'New password:' %}</label>
            <input type="password" name="new_password1" required id="id_new_password1" />
            <div class="help">
                <ul>
                    <li>{% trans "Your password can't be too similar to your other personal information." %}</li>
                    <li>{% trans "Your password must contain at least 8 characters." %}</li>
                    <li>{% trans "Your password can't be a commonly used password." %}</li>
                    <li>{% trans "Your password can't be entirely numeric." %}</li>
                </ul>
            </div>
        </div>

        <div class="form-row">
            <label for="id_new_password2">New password confirmation:</label>
            <input type="password" name="new_password2" required id="id_new_password2" />
        </div>

    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Change my password" class="default" />
    </div>
</form>
{% endblock %}