{% extends "main/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password Reset' %}{% endblock %}

{% block content %}
<div class="page-header">
    <div class="panel-heading">
         <h3 class="panel-title">{% trans 'Forgot password' %}</h3>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
         <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
        <form method="post" data-toggle="validator" role="form">
            {% csrf_token %}
            {% load widget_tweaks %}

            <div class="form-group">
                <div class="input-container input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    {% render_field form.email class="form-control" placeholder="{% trans 'Email' %}" %}
                </div>
                <div class="help-block with-errors"></div>
            </div>

            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}